fastapi==0.115.2
uvicorn==0.32.0
pydantic==2.9.2
duckduckgo_search==6.3.2
langchain==0.3.4
langchain-google-genai==2.0.3
langchain-huggingface==0.1.0
scikit-learn==1.5.2
sentence-transformers==3.2.0
python-dotenv==1.0.1
transformers==4.46.0
torch==2.4.1
